
body
{
    background:url(../Image/EducationImage/bg1.jpg);
}
#container
{ 
    border:1px solid #ddd;
    width:810px;
    margin:0 auto;
    background-color:#fff;
    margin-top:15px;
}
#header
{
    width:780px;
    height:220px;
    background:url(../Image/EducationImage/qyb1.jpg);
    margin-left:14px;
    margin-top:15px;
}

#title
{
    position:absolute;
    top:30px;
    margin-left:10px;
    font-size:40px;
    color:#fff;
   
}

#nav
{
    width:780px;
    height:53px;
    background:url(../Image/EducationImage/nav.jpg);
    position:absolute;
    top:255px;
    margin-left:14px;
}
#nav-list li
{
    float:left;
    line-height:53px;
    margin-left:75px;
    
   
}



#nav-list li a
{
    font-size:large;
    color:#fff;
    text-decoration:none;
}
img
{
    height:53px;
    position:absolute;
    padding-left:32px;
}

.thread
{
    position:absolute;
    margin-left:148px;
    width:1px;
    height:53px;
    background-color:#ddd;
}
.thread1
{
    position:absolute;
    margin-left:292px;
    width:1px;
    height:53px;
    background-color:#ddd;
}
.thread2
{
    position:absolute;
    margin-left:442px;
    width:1px;
    height:53px;
    background-color:#ddd;
}
.thread3
{
    position:absolute;
    margin-left:586px;
    width:1px;
    height:53px;
    background-color:#ddd;
}

#main
{
    background-color:#fff;
    width:780px;
    margin-left:14px;
}

#userLoginName
{
    margin-top:65px;
    margin-left:540px;
}
#userLoginName a
{
    text-decoration:none;
}

.inform
{
    color:blue;
    font-size:18px;
    
}

.notice-main
{
    border-bottom:1px dotted #ddd;
    margin:4px;
    margin-bottom:20px;
}

#notice-content,#introduce
{
    width:100%;
    margin:5px auto;
    border:1px solid #c0e152;
}

h4
{
    padding-left:5px;
    font-size:15px;
}

.news-info
{
    margin-top:10px;
    padding-left:5px;
    font-size:10px;
    border-bottom:1px dotted #ddd;
    margin-bottom:5px;
}

.news-content
{
    padding-left:5px;
    margin-bottom:20px;
    margin-top:8px;
}

.news-notice
{
    margin:4px
}




#footer
{
    
    width:780px;
    height:38px;
    background:url(../Image/EducationImage/bgfooter.gif);
    margin-bottom:5px;
    margin-left:15px;
    margin-top:50px;
}

#footContaint p
{
   text-align:center;
   margin-left:70px;
   color:#fff;
   line-height:38px;
}
